<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="public/css/bundle<% !isDev ? '.min' : '' %>.css" media="all" rel="stylesheet" type="text/css" />
  <title>Edmonton Property Assessment Data</title>
  <link rel="shortcut icon" href="public/img/favicon.ico" />
</head>
<body>
  <div id="app">
    <script type="text/javascript">
      var cache = <%- cache %>;
    </script>
  </div>
  <script type="text/javascript" src="public/js/bundle<% !isDev ? '.min' : '' %>.js"></script>
</body>
</html>
